<a href="https://colab.research.google.com/github/gyaler/Project/blob/main/Colab_with_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library('dplyr')

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
x <- data.frame(c(1,2,3),c(4,5,6))

In [ ]:
View(x)

  c.1..2..3. c.4..5..6.
1 1          4
2 2          5
3 3          6